<html>
    <head>

    </head>

    <body>
        <h2>Welcome To Quotes and Likes</h2>
        <form action="/quote" method="post">
            Name: <input type="text" name="name"><br><br>
            Quote: <input type="text" name="quote"><br><br>
            <button>Submit Quote</button>
        </form>
    </body>
</html>