<html>

    <head>


    </head>
    <body>
        <h1>Survey Form Assignment</h1>

        <form action="/survey" method="post">
            <label for="">Name</label>
            <input type="text" name="name">

            <label for="">Location</label>
            <select name="location" id="">
                <option value="Dallas">Dallas</option>
                <option value="Seattle">Seattle</option>    
                <option value="Los Angeles">Los Angeles</option>
            </select>
            

            <label for="">Language</label>
            <select name="language" id="">
                <option value="JavaScript">JS</option>
                <option value="Ruby">Ruby</option>
                <option value="Python">Python</option>
            </select>
            <br>
            <br>
            <textarea name="comment" id="" cols="30" rows="10"></textarea>
            <button>Submit Survey</button>
        </form>
    </body>
</html>