<html>
    <head></head>
    <body>
        <h1>Submitted Information</h1>
        
        <h4>name: <%= survey.name %></h4>
         <h4>location: <%= survey.location %></h4>
          <h4>language: <%= survey.language %></h4>
           <h4>comment: <%= survey.comment %></h4>


    </body>
</html>