<html>
    <head>

    </head>
    <body>
        <h2>Animal Info Page: </h2>
        <h3><%= animal.name%></h3>
        <h4><%= animal.age %></h4>
        <h5><%= animal.species %></h5>
        <a href='/animals/edit/<%= animal._id %>'>Edit This Animal</a>
    </body>
</html>