<html>
    <head>

    </head>
    <body>
        <form action="animals" method="POST">
            Name: <input type="text" name="name">
            Species: <input type="text" name="species">
            Age: <input type="number" name="age">
            <button>Add Animal</button>
        </form>
    </body>
</html>